<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
  <fieldset>
    <h1>Please Log In</h1>
    <center>
    <div class="field">
      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <br>
    <div>
      <button class="btn-default">
        <%= submit_tag "Login" %>
      </button>
    </div>
  </fieldset>
<% end %>
  <center>
    <br>
    <button class="btn-default">
      <%= link_to 'Back', home_index_path %>
    </button>
    <button class="btn-default">
      <%= link_to 'New User', new_user_path %>
    </button>
  </center>
  </center>
