<p id="notice"><%= notice %></p>

<h1>Pets</h1>
<center>
  </div>
      <% @pets.each do |pet| %>
      <%= render 'layouts/pet_state', character: pet %>
      <table>
        <tr class="list-group">
        <th class="list-group-item">Name:
          <%= pet.name %></td>
        <th class="list-group-item"> Is Alive:
          <%= pet.alive %></th>
          <% if pet.alive == false %>
        <th class="list-group-item"> Date of Death:
          <%= pet.date_of_death %></th>
          <% end %>
        <th class="list-group-item"> User:
          <%= pet.user.name %></th>
        </tr>
      </table>
<button class="btn-default">
  <%= link_to 'Show', pet %>
</button>
<button class="btn-default">
  <%= link_to 'Edit', edit_pet_path(pet) %>
</button>
<button class="btn-default">
  <%= link_to 'Destroy', pet, method: :delete,
  data: { confirm: 'Are you sure?' } %>
</button>
<br>
<% end %>
<%= yield %>

<br>
<button class="btn-default">
  <%= link_to 'Back', home_index_path %>
</button>
<button class="btn-info">
<%= link_to 'New Pet', new_pet_path %>
</button>
</center>
