<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Alive:</strong>
  <%= @pet.alive %>
</p>

<p>
  <strong>Date of death:</strong>
  <%= @pet.date_of_death %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user_id %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>


<%= button_to 'Feed', feed_path(@pet) %>
<%= button_to 'Exercise', exercise_path(@pet) %>
