<p id="notice"><%= notice %></p>
<h1> <%= @pet.name %> </h1>
<center>
  <%= render 'layouts/actions' %>
  <br>

  <p>Placeholder image</p>
  <div>
  <%= image_tag 'pikachu.gif' %>
  </div>
  
  <br>

  <table>
    <tr class="list-group">
      <th class="list-group-item">Name:
        <%= @pet.name %></td>
      <th class="list-group-item"> Is Alive:
        <%= @pet.alive %></th>
      <th class="list-group-item"> Date of Death:
        <%= @pet.date_of_death %></th>
      <th class="list-group-item"> User:
        <%= @pet.user_id %></th>
      </tr>
  </table>

  <br>

    <button class="btn-default">
      <%= link_to 'Back', pets_path %>
    </button> |

    <button class="btn-default">
      <%= link_to 'Edit', edit_pet_path(@pet) %>
    </button>
</center>
