<p id="notice"><%= notice %></p>
<h1> <%= @pet.name %> </h1>
<center>
  <%= render 'layouts/actions' %>
  <br>

  <% case @pet.state %>
    <% when 1 %>
      <% state = "-skinny" %>
    <% when 2 %>
      <% state = "" %>
    <% when 3 %>
      <% state = "-fat" %>
    <% else %>
      <% puts "error - state corruption" %>
    <% end %>

    <center>
      <% if @pet.state == 1 %>
        <span class="label label-default-1">Hungry</span>
      <% elsif @pet.state == 2 %>
        <span class="label label-default-2">Average</span>
      <% elsif @pet.state ==3 %>
        <span class="label label-default-3">Full</span>
      <% end %>

      <% if @pet.sleep == 1 %>
        <%= image_tag "sleeping#{state}.gif" %>
        <span class="label label-warning">Sleeping</span>
      <% elsif @pet.exercise == 1 %>
        <%= image_tag "workingout#{state}.gif" %>
        <span class="label label-info">Exercising</span>
      <% elsif @pet.alive == false %>
        <%= image_tag 'duskull' %>
        <span class="label label-danger">Dead</span>
      <% elsif Time.now >= Time.parse("9:00 pm") %>
        <%= image_tag "tired#{state}.gif" %>
      <% else %>
        <%= image_tag "pikachu#{state}.gif" %>
        <span class="label label-success">Idle</span>
      <% end %>
    </center>

  <br>

  <table>
    <tr class="list-group">
      <th class="list-group-item">Name:
        <%= @pet.name %></td>
      <th class="list-group-item"> Is Alive:
        <%= @pet.alive %></th>
        <% if @pet.alive == false %>
      <th class="list-group-item"> Date of Death:
        <%= @pet.date_of_death %></th>
        <% end %>
      <th class="list-group-item"> User:
        <%= @pet.user.name %></th>
      </tr>
  </table>

  <br>

    <button class="btn-default" style="margin-bottom: 20px">
      <%= link_to 'Back', pets_path %>
    </button> |

    <button class="btn-default" style="margin-bottom: 20px">
      <%= link_to 'Edit', edit_pet_path(@pet) %>
    </button>
</center>
