<body>
  <% if session[:user_id] %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <% if @pet.alive != true %>
        <h3 class="panel-title"><%= @pet.name %> Is Dead </h3>
        <% else %>
        <h3 class="panel-title">What will <%= @pet.name %> do?</h3>
        <% end %>
      </div>
      <div class="panel-body">
        <% if @pet.alive == true %>
          <% if @pet.state != 3 %>
            <button class="btn-round-1-white">
              <%= button_to 'Feed', feed_path, class: 'btn-round-1', params: {id: @pet.id } %>
            </button>
          <% end %>
          <% if @pet.state != 1 %>
            <button class="btn-round-2-white">
              <%= button_to 'Exercise', exercise_path, class: 'btn-round-2', params: {id: @pet.id } %>
            </button>
          <% end %>
        </div>

        <div class="panel-body">
          <button class="btn-round-3-white">
            <% if(@pet.sleep == 1) %>
              <%= button_to 'Wake', sleep_path, class: 'btn-round-3', params: {id: @pet.id } %>
            <% else %>
              <%= button_to 'Sleep', sleep_path, class: 'btn-round-3', params: {id: @pet.id } %>
            <% end %>
          </button>
            <% if @pet.alive == true %>
            <% if @pet.evolve == false %>
            <button class="btn-round-3-white">
              <%= button_to 'Evolve!', evolve_path, class:'btn-round-4', params: {id: @pet.id} %>
            </button>
              <% end %>
              <% end %>
        <% end %>
      </div>


  </div>

  <% end %>

  <%= yield %>
</body>
