<body>
  <% if session[:user_id] %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">What will <%= @pet.name %> do?</h3>
      </div>
      <div class="panel-body">

        <button class="btn-round-1-white">
      <%= button_to 'Feed', feed_path(@pet), class: 'btn-round-1' %>
        </button>

        <button class="btn-round-2-white">
      <%= button_to 'Exercise', exercise_path(@pet), class: 'btn-round-2' %>
        </button>

      </div>

      <div class="panel-body">
        <button class="btn-round-3-white">
          <!--needs updated path -->
      <%= button_to 'Sleep', feed_path(@pet), class: 'btn-round-3' %>
        </button>
      </div>

  </div>

  <% end %>

  <%= yield %>
</body>
